body {
    font-family: Arial, Helvetica, sans-serif;
}


/* navbar */

.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
    top: 0;
    margin: 0;
    padding: 0;
}

.navbar a {
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

@media screen and (max-width: 350px) {
    .navbar a {
        float: none;
        display: block;
    }
    .titlegr .grid-container {
        display: block;
        grid-template-columns: 100% 100%;
    }
    .skillsgr .grid-container {
        display: block;
        grid-template-columns: 100% 100%;
    }
    .tablegr {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .navbar a {
        display: inline-block;
    }
    .titlegr .grid-container {
        display: block;
        grid-template-columns: 80% 80%;
    }
    .skillsgr .grid-container {
        display: block;
        grid-template-columns: 80% 80%;
    }
    .tablegr {
        display: inline;
    }
}

@media screen and (max-width: 1000px) {
    .navbar a {
        display: inline-block;
    }
    .titlegr .grid-container {
        display: block;
        grid-template-columns: 80% 80%;
    }
    .skillsgr .grid-container {
        display: block;
        grid-template-columns: 80% 80%;
    }
    .tablegr {
        display: inline;
    }
}


/* RegisterPage*/

.hero-image2 {
    background-image: url("./images/tennis.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/*Trigger Button*/

.login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
    top: 50%;
}